<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgr_FQsL8fNaaQ0mPtg5sYG5LxnxYtDBE</string>
	<key>GCM_SENDER_ID</key>
	<string>803957680411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.afchat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b395b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b395b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803957680411:ios:43af42a15bd1efe4adcbbe</string>
</dict>
</plist>